<ion-header>
  <ion-toolbar>
    <ion-title>logsleepiness</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-button (click) = "backToHome()">Back</ion-button>
  </ion-item>

  <ion-item>
    <ion-label>Enter your sleepiness</ion-label>
    <ion-input [(ngModel)] = "setScale" type = "number"  placeholder="Scale of  1 - 7"></ion-input>
  </ion-item>
  <hr>

  <ion-item>
    <ion-label slot="start">Select Date</ion-label>
    <ion-input [(ngModel)] = "date" type="datetime-local" presentation="month-year-time"></ion-input>
  </ion-item>
  
  <ion-item>
    <ion-button (click) = "submit()">Submit</ion-button>
  </ion-item>
</ion-content>
